@charset "utf-8";

/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Pour les icônes */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Classe pour les icônes */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html {
    /* font-size: 1.2vw; */
    font-size: 1em;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

/**********
    NAVBAR
***********/
nav.navbar {
    /* la navbar prend 100% */
    width: 100%;
    /* Elle est en position absolute pour se mettre au dessus du background */
    position: absolute;
    /* on lui donne une marge intérieure de 50 px */
    padding: 50px;
    /* On dispose ses enfants horizontalement */
    display: flex;
    /* On les espace, un à chaque extrèmité */
    justify-content: space-between;
    /* On les align verticalement */
    align-items: center;
    /* TODO : Etudier cette propriété */
    box-sizing: border-box;
}

nav.navbar a {
    /* On met les liens en blancs */
    color: white;
}

/* On met en forme le logo */
nav.navbar a.logo {
    font-size: 2em;
    font-weight: bold;
}

nav.navbar div.nav-links ul {
    /* On dispose les liens li de la navbar horizontalement */
    display: flex;
}

nav.navbar div.nav-links ul li {
    /* on donne un peu de marge sur les côtés aux éléments du li pour qu'ils aient de l'espace entre eux */
    margin: 0 25px;
}

nav.navbar div.nav-links ul li.active a {
    /* Le lien actif */
    font-weight: 600;
    color: red;
}

nav.navbar img.menu-hamburger {
    /* L'image du menu hamburger */
    position: absolute;
    /* On le positionne en haut à droite */
    top: 50px;
    right: 50px;
    /* On lui donne une taille de 35px */
    width: 35px;
    /* On le cache (on ne l'affiche que dans le media queries */
    display: none;
    z-index: 1001;
}

/***************
    HEADER
***************/

header {
    /* pour le background */
    background-image: url('../images/statue.jpg');
    /* on lui dit de couvrir l'écran */
    background-size: cover;
    /* Le header à une taille maximale d'écran */
    height: 100vh;
    width: 100vw;
}

div#header-content {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 56vw;
    height: 26vh;
    top: calc(50% - 13vh);
    left: 20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    font-size: 4rem;
    text-shadow: 8px 8px 8px #0A0B17;
    color: white;
}

svg.svg-billet {
    width: 1.5em;
    height: 1.5em;
    fill: white;
    vertical-align: middle;
}

a.billeterie-link {
    white-space: nowrap;
    margin-top: 20px;
    text-align: center;
    line-height: 10vh;
    font-size: 1rem;
    color: white;
    width: 25vw;
    height: 10vh;
    background-color: blue;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 3px 3px 8px #444444;
}

a.billeterie-link:hover {
    box-shadow: 1px 1px 4px #777777;
}

div#header-content-bottom {
    position: absolute;
    top: 90vh;
    left: 5vw;
    background-color: rgba(0, 0, 0, 0.288);
}

div#header-content-bottom span {
    padding: 5px 10px 5px 10px;
    font-size: 1.2rem;
    text-shadow: 8px 8px 8px #0A0B17;
    color: white;
}

a.header-link-to-expos {
    color: white;
}

a.header-link-to-expos:hover {
    text-decoration: underline;
}

/* Ancre header */
a.header-anchor {
    position: absolute;
    left: 50vw;
    top: 93vh;
    font-size: 2rem;
    color: black;
}

/**********************
    SECTION EXPOSITIONS
***********************/
section#expositions {
    position:relative;
    width: 100vw;
    height: 100vh;
    /* pour le background */
    background-image: url('../images/champollion.jpg');
    /* on lui dit de couvrir l'écran */
    background-size: cover;
}

a.expositions-anchor {
    position: absolute;
    left: 50vw;
    top: 93vh;
    font-size: 2rem;
    color: black;
}

/**********************
    SECTION BILLETERIE
**********************/
section#billeterie {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/bois.jpg');
    background-size: cover;
}

/* A partir de 900px de large */
@media screen and (max-width: 900px) {

    /* on enlève le padding de la navbar (car on veut occuper tout l'écran */
    nav.navbar {
        padding: 0;
    }

    nav.navbar a.logo {
        position: absolute;
        top: 40px;
        left: 50px;
    }

    /* La navbar va occuper la totalité de l'écran et est centrée */
    nav.navbar div.nav-links {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.466);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        /* Permet de cacher le menu mobile à gauche */
        margin-left: -100%;
        /* Pour faire une transition */
        transition: all 0.5s ease;
    }

    /* Quand la classe mobile-menu est ajouté au div, on montre la navbar */
    /* /!\ => A ajouter toujours après le "nav.navbar div.nav-links" */
    nav.navbar div.mobile-menu {
        margin-left: 0;
    }

    /* On affiche les ul en columns et on centre */
    nav.navbar div.nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    nav.navbar div.nav-links ul li {
        /* on donne un peu de marge sur les côtés aux éléments du li pour qu'ils aient de l'espace entre eux */
        margin: 25px 0px;
        font-size: 1.2rem;
    }

    /* On affiche le menu hamburger */
    nav.navbar img.menu-hamburger {
        display: block;
    }

    /*****************
        SECTION HEADER
    ******************/

    h1 {
        font-size: 2.6rem;
        text-shadow: 8px 8px 8px #0A0B17;
        color: white;
    }
}